body {
  background-color: #0a0a23;
  background-image: url("../Images/Hogwarts.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 0%;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 450px;
  background: linear-gradient(90deg, rgb(126, 24, 7), rgb(158, 146, 7), rgb(4, 93, 16),rgb(7, 67, 115));
  color: #ffffff;
  margin: 20% auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}
.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  margin: 2px;
  display: none;
}
button:hover{
  background-color: rgb(214, 185, 18)
}
button:active {
  background-color: rgb(135, 142, 62);
  transform: translateY(4px);
}
#button1{
  display: initial
}